<!--<div class="container text-center m-a-1">-->
  <!--<button class="btn btn-info" ng-click="vm.callDebugger()">Debugger</button>-->
<!--</div>-->
<div id="txtContainer"></div>
<div class="jumbotron">
  <p class="lead">
    <img id="yeomanPicture" src="images/yeoman.png" alt="I'm Yeoman" style="opacity: 0" class="positionRelative">
  </p>
</div>
<div class="text-center m-a-1">
  <div class="btn-group m-a-1">
    <a ng-click="vm.play()" class="btn btn-lg btn-success" href="javascript:void(0)">
      <i class="glyphicon glyphicon-play"></i>
    </a>
    <a ng-click="vm.pause()" class="btn btn-lg btn-info" href="javascript:void(0)">
      <i class="glyphicon glyphicon-pause"></i>
    </a>
    <a ng-click="vm.resume()" class="btn btn-lg btn-warning" href="javascript:void(0)">Resume</a>
    <a ng-click="vm.restart()" class="btn btn-lg btn-success" href="javascript:void(0)">
      <i class="glyphicon glyphicon-repeat"></i>
    </a>
    <a ng-click="vm.reset()" class="btn btn-lg btn-danger" href="javascript:void(0)">
      <i class="glyphicon glyphicon-stop"></i>
    </a>
  </div>
  <div class="m-a-1">
    <p>Check-out the <strong>SVG</strong> by clicking <a href="http://codepen.io/arseneoaa/full/wGNpxR/">here</a></p>
  </div>
</div>
